doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascript/d3.v4.min.js")
    //- script(src="/javascript/echarts.min.js")
    script(src="/javascript/chart.js")
  body
    block content
