 @import './reset.scss';
 @import './base.scss';

 .cur {
     cursor: pointer;
 }

 .header {
     .header-base {
         line-height: $header-height;
         height: $header-height;
         display: inline-block;
         float: left;
         position: relative;
     }

     height: $header-height;
     width: 100%;
     position: relative;
     background-image: url('../assets/images/head.png');
     background-size: cover;

     .header-minisiter {
         height: $header-height;
         line-height: $header-height;
         display: inline-block;
     }

     .header-logo {
         @extend .header-base;
         vertical-align: middle;
         width: 167px;
         height: 51px;
         width: 241px;

         img {
             margin-left: 45px;
         }
     }

     .header-title {
         @extend .header-base;
         font-size: 32px;
         font-family: PingFangSC-Semibold;
         font-weight: 600;
         color: rgba(255, 255, 255, 1);
         text-shadow: 0px 1px 6px rgba(7, 23, 49, 0.7);
     }

     .header-items {
         float: right;
         height: $header-height;
         min-width: 200px;
     }

     .header-item {}
 }

 .App-main {
     position: absolute;
     top: $header-height;
     left: 0;
     right: 0;
     bottom: 0;
 }

 $menu-width:180px;

 .menu {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     //  padding-top: 10px;
     width: $menu-width - 1;
     border-right: 1px solid #ededed;
     background: #00152a;

     .menu-level {
         text-indent: 15px;
     }

     .menu-title {
         color: #fff;
         padding: 10px 20px;
         font-size: 18px;
         font-weight: bold;
         border-bottom: #0c345d 1px solid;
     }

     .menu-item {
         $lineheight: 40px;

         //  padding: 0 10px 0 15px;  
         .menu-exent {
             color: #cfcfcf;
             display: inline-block;
             width: 100%;
             padding: 0 20px;
             line-height: $lineheight;
             user-select: none;
         }


         a {
             @extend .menu-exent;
         }

         .menu-node {
             @extend .menu-exent;
             cursor: pointer;
             display: flex;
             justify-content: space-between;

             i {
                 line-height: $lineheight
             }

         }

         .active {
             background: #1b9fee;

             color: #fff;
         }
     }
 }

 .main {
     position: absolute;
     left: $menu-width;
     right: 0;
     top: 0;
     bottom: 0;
     background: #f4f6f8
 }

 .canvas-click-name {
     position: absolute;
     top: 20px;
     left: 20px;
 }

 $hh: 0px;

 .menu-history {
     height: $hh;
     padding: 0 15px;
     position: relative;
     z-index: 20;

     .menu-history-item {
         $h: 32px;
         height: $h;
         line-height: $h;
         background: #fff;
         border-radius: 3px;
         display: inline-block;
         padding: 0 10px;
         margin-top: ($hh - $h)/2;
         cursor: pointer;
         transition: all .2s;

         i {
             margin-left: 10px;

         }

         &:hover {
             box-shadow: 0 0 6px #aaa;
         }
     }
 }

 .main-box {
     position: absolute;
     top: $hh + 5px;
     left: 0;
     right: 0;
     bottom: 0;
 }

 .c-box {
     margin-left: 15px;
     padding: 5px;
     margin-right: 15px;
     background: #fff;
     border-radius: 3px;
     box-shadow: 0 0 5px #cfcfcf;
 }

 .m-people {
     display: flex;
     border-bottom: 1px solid #f0f0f0;

     >div {
         width: 250px;
         margin-right: 20px;
         display: flex;
         line-height: 32px;

         >span {
             width: 100px;
             text-align: right;
             padding-right: 10px;
         }
     }

     >div:last-child {
         margin-right: 0;
     }
 }

 .m-people-tale {
     margin-top: 10px;

     .m-people--add {
         margin-bottom: 10px;
     }
 }

 .m-r {
     margin-right: 20px;
 }

 .m-l {
     margin-left: 20px;
 }

.m-people-inp{
    margin-bottom:20px;
}
.articleup-title{
    margin-bottom:10px
}
.articleup-btns{
    border-top:1px solid #cfcfcf;
    padding:10px 20px;
}
.modal-table-flex{
    display: flex;
    
}
.flex-1{
    flex:1
}
.flex-2{
    flex:2
}
.flex-3{
    flex:3
}
.inp-line{
    line-height:32px;
}