@import './base.scss';
$login-width:500px;

.m-login {
    @extend .full;
    // position: absolute;
    // background: url(../assets/images/deep.jpg) no-repeat 100% 100%;
}

.m-login--img {
    position: absolute;
    right: $login-width;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url(../assets/images/timg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.m-login-box {
    $padding: 60px; 
    // background-image: url(../assets/images/login-box.png);
    background-size: 100% 100%;
    right: 0;
    width: $login-width;
    padding: $padding;
    position: absolute;
    top: 15%;
    bottom: 0;
}

.m-login-title {
    // text-align: center;
    font-size: 25px;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    // color: rgba(255, 255, 255, 1);
    line-height: 38px;
    margin-top: 30px;
    margin-bottom: 38px;
}

.m-login-inp {
    margin-top: 40px;
}

.m-not-pass {
    text-align: right;
    color: #fff;
    line-height: 60px;
}